- name: (qtile) install packages
  tags:
    - qtile
    - packages
  community.general.pacman:
    name: "{{ item }}"
    state: latest
  loop:
    - qtile
    - python-psutil

- name: Install qtile-extras, light using yay
  become: false
  tags:
    - qtile
    - packages
  command: yay -S --noconfirm qtile-extras light

- name: Remove cloned yay repository
  become: false
  tags:
    - qtile
    - packages
  file:
    path: /home/{{ ansible_user }}/yay
    state: absent


- name: (qtile) copy config files
  become: false
  tags:
    - qtile
    - files
  ansible.builtin.copy:
    src: qtile
    dest: /home/{{ ansible_user }}/.config
    group: "users"
    owner: "{{ ansible_user }}"
    mode: 0755 # the owner of a file or directory can read, write, and execute it, while other users can only read and execute it

- name: (qtile) save config files
  become: false
  tags:
    - save
    - save-qtile
  ansible.builtin.copy:
    src: /home/{{ ansible_user }}/.config/qtile
    dest: /home/{{ ansible_user }}/repos/dotfiles/roles/qtile/files/
    owner: "{{ ansible_user }}"
    group: "users"
    mode: 0755 # the owner of a file or directory can read, write, and execute it, while other users can only read and execute it

