- name: (git) install packages
  tags:
    - git
    - packages
  community.general.pacman:
    name: "{{ item }}"
    state: latest
  loop:
    - git
    - openssh

- name: (git) create git config
  tags:
    - git
    - files
  become: false
  copy:
    content: "{{ git_config_file }}"
    dest: "/home/{{ ansible_user }}/.gitconfig"
    group: "users"
    owner: "{{ ansible_user }}"
    mode: "0644"

- name: (git) create repos directory
  tags:
    - git
    - files
  become: false
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/repos
    state: directory
    owner: "{{ ansible_user }}"
    group: "users"
    mode: 0755

- name: (git) clone git repositories
  tags:
    - git
    - files
  become: false
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ item.path }}"
    update: no
  loop:
    - { repo: "{{ my_github_handle }}/dotfiles.git", path: "/home/{{ ansible_user }}/repos/dotfiles" }
