- name: (base) install packages
  tags:
    - base
    - packages
  community.general.pacman:
    name: "{{ item }}"
    state: latest
  loop:
    - ansible
    - firefox
    - flameshot
    - btop
    - nano
    - networkmanager
    - nitrogen
    - ntfs-3g
    - os-prober
    - pipewire
    - pipewire-alsa
    - wireplumber
    - bluez
    - bluez-utils
    - sof-firmware
    - sudo
    - thunar
    - gvfs
    - gvfs-mtp
    - libmtp
    - mtpfs
    - tumbler
    - ffmpegthumbnailer
    - python-watchdog
    - base-devel
    - xclip
    - xsel
    - redshift
    - playerctl
    - brightnessctl
    - ranger
    - pulseaudio

- name: (AUR) install packages using yay
  tags:
    - base
    - packages
  shell: yay -S --noconfirm {{ item }}
  loop:
    - pywal-git
    - pfetch
