- name: (neovim) install packages
  tags:
    - neovim
    - packages
  community.general.pacman:
    name: "{{ item }}"
    state: latest
  loop:
    - neovim
    - ripgrep
    - unzip
    - npm

- name: (neovim) copy config files
  become: false
  tags:
    - neovim
    - files
  ansible.builtin.copy:
    src: nvim
    dest: /home/{{ ansible_user }}/.config
    group: "users"
    owner: "{{ ansible_user }}"
    mode: 0755

- name: (neovim) save config files
  become: false
  tags:
    - save
    - save-neovim
  ansible.builtin.copy:
    src: /home/{{ ansible_user }}/.config/nvim
    dest: /home/{{ ansible_user }}/repos/dotfiles/roles/neovim/files
    group: "users"
    owner: "{{ ansible_user }}"
    mode: 0755
